<!--底部导航-->
<div class="footer" id="foot">
	<p class="tc">
		<{foreach from=$partlist key=key item=part}>
		<a href="<{$weburl}>/<{$part.c_url}>" title="<{$part.c_name}>" <{if $part.c_target==2}>target="_blank"<{/if}>><{$part.c_name}></a> | 
		<{/foreach}>
	</p>
	<p class="mt10"><center><div style=line-height:21px>资源提供：<a href=http://www.souho.net target=_blank><font color=red>搜虎精品社区</font></a>
<br>&nbsp;
<a href=http://www.souho.net target=_blank>搜虎精品社区</a> | <a href=http://vip.souho.net target=_blank>极品商业源码</a> | <a href=http://idc.souho.net target=_blank>搜虎精品社区空间、域名</a> | <a href=http://vip.souho.net/templates/Korea/ target=_blank>90G韩国豪华商业模版</a> | <a href=http://tool.souho.net/ target=_blank>站长工具箱</a>
<br>
更多精品商业资源，就在<a href=http://www.souho.net target=_blank>搜虎精品社区</a></font>
</div></center></p>
 </div>
 <div id="right-side" class="right-side">
    <ul>
    <li class="side-top w4"><a id="backtop" title="返回顶部" href="#top" style="display: block;">返回顶部</a></li>
  </ul>
 </div>
<!-- 版权 结束 -->